footer {
    text-align: center;
    background-color: #1E1E1E;
    color: #919191;
    font-size: 12px;
}

.mainbox {
    border: 5px solid #EBEBEB;
    width: 610px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin: 30px;
}