.name-text {
    font-size: 20px;
}

footer {
    text-align: center;
    background-color: #1E1E1E;
    color: #919191;
    font-size: 12px;
}

.mainbox {
    border: 5px solid #EBEBEB;
    width: 610px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin: 30px;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}