footer {
    text-align: center;
    background-color: #1E1E1E;
    color: #919191;
    font-size: 12px;
}

.mainbox {
    border: 5px solid black;
    width: 610px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}